@keyframes header_scroll_animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.header {
  position: fixed;
  height: 4rem;
  width: 100svw;
  transition: .1s linear;
  // left: 0;
  // top: 0;
  // transition: .2s ease-in-out;
  
  // &_hidden {
    //   backdrop-filter: blur(1rem) brightness(.9);
    //   background-color: rgba(var(--gold-rgb), .6);
    //   box-shadow: rgba(0, 0, 0, .25) 0px 3px 8px;
    // }
    
    // &_hidden:hover {
      //   opacity: 1;
      //   box-shadow: rgba(0, 0, 0, .65) 0px 3px 16px;
      //   background-color: rgba(var(--gold-rgb), 1);
      // }
    }
    
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: inherit;
  height: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

.container.active {
  backdrop-filter: blur(5px);
}

.line {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: .2s ease-in-out;
}

.navigation_container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.15rem;
  transition: .3s linear;
  z-index: 1;
  
  & .menu_accordeon {
    position: absolute;
    top: 100%;
    z-index: 20;
    background-color: red;

    /* МАГИЯ: Анимация от 0 до 100% контента */
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }
  
  .submenu {
    width: max-content;
    overflow: hidden;
  }

  &:hover {
    & .menu_accordeon {
      grid-template-rows: 1fr; /* Высота 100% (весь контент) */
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 0;
    left: 45%;
    height: 2px;
    bottom: 0;
    // transition: all .3s;
  }

  &:hover::before {
    width: 100%;
    left:0;
  }
}

.basket {
  width: 2rem;
  height: 2rem;
}