@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: theme('colors.light');
    --light-warm: theme('colors.light-warm');
    --gold-white: theme('colors.gold-white');
    --gold: theme('colors.gold');
    --brown: theme('colors.brown');
    --brown-dark: theme('colors.brown-dark');
    --green-light: theme('colors.green-light');
    --green: theme('colors.green');
    --green-dark: theme('colors.green-dark');
    --menthol: theme('colors.menthol');
  }
}

input {outline: none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: var(--font-inter), sans-serif;
}

/* @font-face {
  font-family: "Mollie";
  src: url("/fonts/mollie/mollie_glaston.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Mollie", sans-serif;
} */
