@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: theme('colors.light');
    --light-warm: theme('colors.light-warm');
    --gold-white: theme('colors.gold-white');
    --gold: theme('colors.gold');
    --coffee: theme('colors.coffee');
    --brown: theme('colors.brown');
    --brown-dark: theme('colors.brown-dark');
    --green-light: theme('colors.green-light');
    --green: theme('colors.green');
    --green-dark: theme('colors.green-dark');
    --menthol: theme('colors.menthol');

    --light-rgb: theme('colors.light-rgb');
    --light-warm-rgb: theme('colors.light-warm-rgb');
    --gold-white-rgb: theme('colors.gold-white-rgb');
    --gold-rgb: theme('colors.gold-rgb');
    --coffee-rgb: theme('colors.coffee-rgb');
    --brown-rgb: theme('colors.brown-rgb');
    --brown-dark-rgb: theme('colors.brown-dark-rgb');
    --green-light-rgb: theme('colors.green-light-rgb');
    --green-rgb: theme('colors.green-rgb');
    --green-dark-rgb: theme('colors.green-dark-rgb');
    --menthol-rgb: theme('colors.menthol-rgb');
  }
}

input {outline: none;}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: var(--font-inter), sans-serif;
}

/* @font-face {
  font-family: "Mollie";
  src: url("/fonts/mollie/mollie_glaston.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

.top_section {
  position: relative;
  padding-top: 7rem;
  height: calc(100svh + 4rem);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100svw;
}

.base-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}