// .description {
  // width: 288px;
  // height: 288px;
  // padding-right: 1.5rem;
  // border-right: 1px solid #ccc;
// 
  // &_article {
    // margin-top: 2rem;
  // }
// }
.description_article {
  width: 288px;
  height: 288px;
  padding-right: 1.5rem;
  border-right: 1px solid #ccc;

  &_article {
    margin-top: 2rem;
  }
}