.container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100svh - 7rem);
}

.title {
  font-size: 7rem;
  line-height: 1;
  margin-top: 2rem;
}

.navigation_button {
  margin-top: 3rem;
  padding: .75rem 1.5rem;
}