.snackbar {
  @keyframes snackbarAnim {
    0% {
      bottom: -100px;
      opacity: 0;
    } 10% {
      bottom: 0px;
      opacity: 1;
    } 90% {
      bottom: 0;
      opacity: 1;
    } 100% {
      bottom: 100px;
      opacity: 0;
    }
  }

  animation: snackbarAnim 5000ms ease-out forwards;

  
  max-width: 24rem;
  margin: 1rem;
  padding: .75rem 1.25rem;
  border-radius: 1rem;
  font-size: .90rem;
}